@import url("https://fonts.googleapis.com/css2?family=Harmattan:wght@700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: "Harmattan", sans-serif !important;
}
.App {
  text-align: center;
}

form input:focus {
  outline: none;
}
form textarea:focus {
  outline: none;
}

.mw1240 {
  width: 90%;
  max-width: 1240px;
}
.text-blue {
  color: #0086b0 !important;
}

.border-blue {
  border: 1px solid #0086b0 !important;
}

.bg-blue {
  background-color: #0086b0 !important;
}
.main-footer {
  background-color: #292929;
  color: white;
}
form img {
  top: -10px;
  left: 2%;
}

.hero_section {
  background-image: url("./assets/images/Rectangle.png");
  background-repeat: no-repeat;
  background-size: 160% 100%;
  padding: 50px 0;
}
.hero_section p {
  width: 90%;
  max-width: 400px;
  line-height: 30px;
}
@media (min-width: 600px) {
  .hero_section {
    background-size: 140% 100%;
    padding: 120px 0;
  }
}
@media (min-width: 765px) {
  .hero_section {
    background-image: url("./assets/images/Rectangle.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 120px 0;
  }
}
@media (min-width: 1000px) {
  .hero_section {
    background-image: url("./assets/images/Rectangle.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 100px 0;
  }
}
.try-it {
  background-image: url("./assets/images/footer-rectangle.png");
  background-repeat: no-repeat;
}
input{
  outline: none !important;
}
